@import "responsive.scss";

*{
    margin: 0;
    padding: 0;
}

body{font-family: arial,sans-serif;}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: auto;
    a{
        text-decoration: none;
        font-size: 13px;
        margin: .8rem;
        &:hover{
            text-decoration: underline;
        }
        .apps{
            height: 25px;
            width: 25px;
            padding: 10px;
            border-radius: 50px;
            &:hover{
                background: #f8f9fa;
            }
        }
        .bg_account{
            padding: 10px;
            border-radius: 50%;
            &:hover{
                background: #f8f9fa;
            }
        }
        .account{
            height: 30px;
            width: 30px;
            border-radius: 50px;
        }
        
    }
}

.intro{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding-top: 9.1rem;
}

.search{
    height: 5rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    .google_search{
        width: 500px;
        height: 46px;
        border-radius: 24px;
        border: 1px solid #dfe1e5;
        padding: 0px 40px;
        &:hover{
            box-shadow: 1px 1px 1px 1px rgba(24, 24, 24, 0.2);
        }
        input{
            height: 45px;
            width: 520px;
            border: none;
            padding-left: 20px;
            &:focus{
                outline: none;
            }
        }
    }
    
    img{
        position: relative;
        top: 0;
        left: 2.5rem;
        opacity: .5;
    }
    .vocal{
        position: relative;
        top: 0;
        right: 2.5rem;
        height: 22px;
        width: 22px;
    }
}

.btn_search{
    display: flex;
    justify-content: center;
    button{
        height: 36px;
        background-color: #f8f9fa;
        border: #fff;
        border-radius: 4px;
        color: #000;
        font-size: 14px;
        margin: 10px 4px;
        padding: 0 16px;
        cursor: pointer;
        transition: .5s;
        &:hover{
            border: solid .5px #ced3d3;

        }
    }
}

.languages{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-size: 14px;
    p{
        text-decoration: none;
    }
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    .country{
        padding: 15px 35px;
        color: #70757a;
        border-bottom: 1px solid #dadce0;
    }
    .about{
        border-bottom: 1px solid #dadce0;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 20px;
        .f_left{order: 1;}
        .f_center{order: 2;}
        .f_right{order: 3;}
        img{
            height: 15px;
        }
        a{
            color: #70757a;
            text-decoration: none;
            margin: 0 10px;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 1350px){
    footer .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "center center"
        "left right";
    }
    .f_center{
        grid-area: center;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .f_left{
        grid-area: left;
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }
    .f_right{
        grid-area: right;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }
}

@media only screen and (max-width: 1124px) {
    footer .about{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "center"
        "left"
        "right";
    }
    .f_left{justify-content: center;}
    .f_right{justify-content: center;}
}
